.status_text{
    padding: 10px;
    color: white;
    font-size: 20px;
}
.topnavbar {
    border: 0;
    background-color: #1e6da7;
    background-image: linear-gradient(to right, #ffffff 0%, #005a9c 100%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF23B7E5', endColorstr='#FF51C6EA', GradientType=1);
}